# Ignore les fichiers et dossiers générés par npm
node_modules/
npm-debug.log

# Ignore les fichiers de configuration spécifiques à l'IDE
.vscode/
.idea/

# Ignore les fichiers de build
dist/
build/

# Ignore les fichiers de logs
logs/
*.log

# Ignore les fichiers de sauvegarde
*.bak
*.swp


