# Ignorer les fichiers temporaires
*~

# Ignorer les fichiers de log
*.log

# Ignorer les fichiers de configuration locaux
.env

# Ignorer les dossiers générés automatiquement
node_modules/
dist/

config.js